* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
}

html {
  -webkit-text-size-adjust: 100%;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  line-height: 54px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #4a4a4a;
  margin: 15px 0 20px 0;
}

body {
  width: 100%;
  letter-spacing: 0.02em;
  line-height: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Header Start */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  text-decoration: 16px;
  font-weight: 600;
}

#navbar li a:hover,
#navbar li a.active {
  color: red;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: red;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

h1 {
  color: red;
  padding: 12px;
  font-size: 48px;
  font-family: "Modak", cursive;
  font-weight: 300;
  text-transform: uppercase;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

#francaLogo:hover {
  cursor: pointer;
  opacity: 0.4 !important;
  transition: 0.6s;
}

/* Container with 2 pictures */
.topContainer {
  display: flex;
  flex-wrap: row;
  gap: 5px;
  padding: 1vh;
  /* column-gap: 20px; */
  align-content: center;
}
#img1,
#img2 {
  flex: 1;
  height: 330px;
  /* padding: 1vh; */
  max-width: 50%;
  height: auto;
}

#img1:hover,
#img2:hover {
  cursor: pointer;
  opacity: 0.4 !important;
  transition: 0.6s;
}

.misery {
  margin: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#motto {
  width: 30%;
  height: 30%;
  object-position: 50% 50%;
}

.banner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: row;
  /* min-width: 30%; */
  height: 30vh;
  padding: 1vh;
  gap: 10vh;
  margin-bottom: 20px;
}
#firstProduct,
#secondProduct,
#thirdProduct {
  flex: 1;
  /* width: 400px;*/
  height: 20vh;
  width: 20vw;
  padding: 5px;
  max-width: 100%;
  height: auto;
}

#firstProduct:hover,
#secondProduct:hover,
#thirdProduct:hover {
  cursor: pointer;
  opacity: 0.5 !important;
  transition: 0.6s;
}
.newsletter {
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: row;
  row-gap: 30px;
  padding-top: 15vh;
  min-width: 250px;
  box-sizing: border-box;
  vertical-align: middle;
}

input {
  width: 244px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
}

#submitButton {
  width: 100px;
  height: 49px;
  text-transform: uppercase;
  background: transparent;
  border-radius: 5px;
}
#submitButton:hover {
  background-color: #4a4a4a;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
.graphics img {
  height: 30vh;
  min-width: 580px;
}
.graphics {
  justify-content: center;
  display: flex;
  flex-wrap: row;
}
#acceptPrivacy {
  font-size: 12px;
}
.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style for the icon div in the second row */
.socialMedia > .icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Hovering instagram icon */

#instagramIcon:hover {
  cursor: pointer;
  opacity: 0.5 !important;
  transition: 0.6s;
}

/* Styling footer  */

footer {
  padding: 10px;
  justify-content: center;
  display: flex;
  color: red;
  font-family: "Montserrat", sans-serif;
}

/* Shop Page */
/* Single Card */
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 0px 10px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid grey;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* Start Media Query */
@media (max-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -350px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #lg-bag {
    display: none;
  }

  #product1 .pro-container {
    justify-content: center;
    gap: 10px;
  }
  #product1 .pro {
    margin: 15px;
  }
  .graphics img {
    min-width: 100%;
    height: 20vh;
  }
  .flex-container {
    width: 28%;
  }

  .h1 logo {
    font-size: 10vh;
  }
  h3 {
    text-align: center;
  }

  .newsletter-form {
    justify-content: center;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 10px;
  }
}
